body {
    background-color: black;
    color: white;
    font-family: 'Handjet', cursive;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 120px;
    text-align: center;
}

.header .text {
    margin: 40px;
    font-size: 30px;
}